
{%- if product.handle != blank -%}
  <button
    type="button"
    aria-label="Add to wishlist"
    class="btn-wishlist mobile-touch-area{% unless section.settings.show_add_to_wishlist_when_sold_out %} {% unless product.selected_or_first_available_variant.available %} button--hide{% endunless %}{% endunless %}"
    button-wishlist
    data-product-handle="{{ product.handle }}">
    <div class="circle-button circle-button--fill ring">
      {%- render 'icon' with 'wishlist' -%}
    </div>

  </button>

{%- endif -%}