<!-- /sections/collections.liquid -->
<personalization-drawer
  {% if request.design_mode %}handle-section-events{% endif %}
  class="drawer custom-drawer"
  id="personalization-drawer">
  <div class="custom-drawer__top">
    <div class="h5">{{ section.settings.drawer-heading }}</div>
    <button
      type="button"
      is="close-button"
      class="drawer__close-icon">
      {%- render 'icon' with 'close' -%}
    </button>

  </div>

  <div class="custom-drawer__content">
    {{ section.settings.drawer-content }}

    <button
      type="button"
      is="close-button"
      class="button button--lg button-full">
      {{ section.settings.drawer-button }}
    </button>
  </div>
</personalization-drawer>


{% schema %}
  {

    "name": "Personalization drawer",
    "settings": [


      {
        "type": "text",
        "id": "drawer-heading",
        "label": "Drawer heading",
        "default": "RETUR POLICY ON PERSONALISED ITEMS"
      }, {
        "type": "richtext",
        "id": "drawer-content",
        "label": "Drawer text",
        "default": "<p>Please note: Personalised items cannot be returned and the related order cannot be cancelled. CeramicSpeed reserves the right to refuse custom engraving texts that can be perceived offensive or otherwise inappropriate.</p>"
      }, {
        "type": "text",
        "id": "drawer-button",
        "label": "Drawer button",
        "default": "Find by me"
      }
    ]

  }
{% endschema %}