<store-drawer
  {% if request.design_mode %}handle-section-events{% endif %}
  class="drawer cart-drawer drawer--half-full-width"
  id="store-drawer">
  <div class="cart-drawer__top">
    <div class="h-stack items-center justify-between">
      <div class="h-stack gap-2 sm:gap-2.5">
        <p class="h5">{{ 'product.general.store_info' | t }}</p>
      </div>

      <button
        type="button"
        is="close-button"
        class="drawer__close-icon">
        {%- render 'icon' with 'close' -%}
      </button>
    </div>
  </div>
  <div class="v-stack gap-6 sm:gap-8 map-body">
    <div id="storepoint-container" data-map-id="160ee952367f27"></div>
  </div>


</store-drawer>


{% schema %}
  {
    "name": "Store drawer - MCB"

  
  }
{% endschema %}