<style>
    #shopify-section-{{ section.id }} {
     --section-spacing-block: 0px;
     --section-spacing-inline: 0px;
     --section-outer-spacing-block: 0;
      margin-inline-start: 0;
      margin-inline-end: 0;
    }
  .customer-rating-bar {
    text-align: center;
  }
   .customer-rating-bar p {
    padding: 10px;
    font-weight: bold;
  }
</style>
{% assign rounded_rating = shop.metafields.judgeme.all_reviews_rating | round: 1 %}
{% assign review_count = shop.metafields.judgeme.all_reviews_count %}

  <div {% render 'section-properties' %}>
   <customer-rating-bar {% render 'surface', class: class, text_color: section.settings.text_color %}>
  <div class="customer-rating-bar"><p>{{ 'general.customer_rating_bar.review_text' | t: rounded_rating: rounded_rating, review_count: review_count }}</p></div>
</customer-rating-bar>
  </div>

  


{% schema %}
{
  "name": "Customer rating bar - MCB",
  "class": "shopify-section--customer-rating-bar",
  "tag": "section",
  "disabled_on": {
    "groups": ["custom.overlay"]
  },
  "settings": [
    
     {
       "type": "paragraph",
       "content": "To edit the text, search for 'customer rating bar' in theme default content"
     }, {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full width",
      "default": true
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "Background gradient"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text"
    }
  ],
  "presets": [
    {
      "name": "Customer rating bar"
    }
  ]
}
{% endschema %}