

<ul id="menu" class="product-menu">
  {%- if section.blocks.size > 0 -%}
    {%- for block in section.blocks -%}
      {%- if block.settings.title != blank and block.settings.id != blank -%}
        <li>
          <a href="#{{block.settings.id}}">{{ block.settings.title }}</a>
        </li>
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}
</ul>



{% schema %}
  {
    "name": "Product menu",
    "class": "shopify-section--product-menu",
    "tag": "section",
    "blocks": [
      {
        "name": "Menu Item",
        "type": "item",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Menu Item"
          }, {
            "type": "text",
            "id": "id",
            "label": "Section id",
            "info": "This section id must be the same with section id that will be scroll to"
          }
        ]
      }
    ],

    "presets": [
      {
        "name": "Product menu"

      }
    ],
    "enabled_on": {
    "templates": ["product","collection"]
    }
  }
{% endschema %}