{%- comment -%}
  Cart discount item

  Accepts:
  - title: {String} Discount title
  - amount: {String} Discount amount
{%- endcomment -%}
<span class="discount__icon">
  <svg
    class="icon icon--label"
    width="14"
    height="14"
    viewBox="0 0 14 14"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path d="M4 5C3.73478 5 3.48043 4.89464 3.29289 4.70711C3.10536 4.51957 3 4.26522 3 4C3 3.73478 3.10536 3.48043 3.29289 3.29289C3.48043 3.10536 3.73478 3 4 3C4.26522 3 4.51957 3.10536 4.70711 3.29289C4.89464 3.48043 5 3.73478 5 4C5 4.26522 4.89464 4.51957 4.70711 4.70711C4.51957 4.89464 4.26522 5 4 5Z" fill="currentColor"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M5.72399 0.5C6.22833 0.500047 6.72748 0.601828 7.19158 0.799254C7.65567 0.996679 8.07517 1.28569 8.42499 1.649L12.679 6.066C13.1787 6.58484 13.4549 7.27904 13.4481 7.99936C13.4414 8.71967 13.1523 9.40859 12.643 9.918L9.74499 12.816C9.28191 13.2791 8.6556 13.542 8.00073 13.5482C7.34585 13.5543 6.71471 13.3033 6.24299 12.849L1.49599 8.278C1.18107 7.97483 0.930541 7.61125 0.759404 7.20901C0.588267 6.80677 0.500034 6.37413 0.499986 5.937V3.75C0.499986 2.88805 0.842396 2.0614 1.45189 1.4519C2.06138 0.84241 2.88803 0.5 3.74999 0.5H5.72399ZM7.34399 2.69C7.13422 2.47198 6.88264 2.2985 6.60429 2.17995C6.32594 2.06139 6.02653 2.00019 5.72399 2H3.74999C2.78399 2 1.99999 2.784 1.99999 3.75V5.937C1.99999 6.412 2.19399 6.867 2.53599 7.197L7.28299 11.769C7.47179 11.9507 7.72435 12.051 7.98635 12.0484C8.24835 12.0457 8.49885 11.9404 8.68399 11.755L11.582 8.857C11.8132 8.62544 11.9443 8.31246 11.9473 7.98527C11.9503 7.65807 11.8249 7.34275 11.598 7.107L7.34499 2.689L7.34399 2.69Z" fill="currentColor"/>
  </svg>
</span>
<discount-title class="discount__title">{{- title -}}</discount-title>
<span class="discount__amount"
  ><span class="money"
    ><discount-amount>
      {%- if amount != blank -%}{{- amount -}}{%- endif -%}
    </discount-amount></span
  ></span
>
