{% comment %}
  Cart item property

  Accepts:
  - name: {String} Cart item property name
  - value: {String} Cart item property value
{% endcomment %}
<div class="cart-item__meta-inline">
  <property-name class="cart-item__meta">{{- name -}}</property-name>:
  <property-value class="cart-item__meta">{{- value -}}</property-value>
</div>
