.openable__overlay {
  position: absolute;
  content: "";
  height: 100vh;
  width: 100%;
  bottom: 100%;
  left: 0;
  background: #000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.6s ease-in-out, visibility 0.6s ease-in-out;
}
.mini-cart__terms {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  z-index: 9000;
  visibility: hidden;
  text-align: center;
  opacity: 1;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: visibility 0.25s ease-in-out, opacity 0.25s ease-in-out,
    -webkit-transform 0.25s ease-in-out;
  transition: visibility 0.25s ease-in-out, opacity 0.25s ease-in-out,
    -webkit-transform 0.25s ease-in-out;
  transition: visibility 0.25s ease-in-out, opacity 0.25s ease-in-out,
    transform 0.25s ease-in-out;
  transition: visibility 0.25s ease-in-out, opacity 0.25s ease-in-out,
    transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
  flex: 0 0 auto;
  padding: var(--gutter-content) var(--gutter-content)
    calc(var(--gutter-content) + env(safe-area-inset-bottom, 0px) * 1.5);
  border-top: 1px solid rgb(var(--text-color) / var(--divider-opacity));
}
#mini-cart-terms-btn-denice {
  text-transform: uppercase;
  width: 100%;
}

[open] > .openable__overlay {
  visibility: visible;
  opacity: 0.2;
}

.mini-cart__terms-heading ~ .cart-drawer-checkout-buttons {
  margin-bottom: 1rem;
}
.mini-cart__terms-heading {
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.mini-cart__terms[open] {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.usp__item {
  display: flex;
  align-items: center;
}

.usp__item-icon {
  margin-right: 0.5rem;
}

/* gallery zooming effect */
.gallery__image .zoom-image {
  transform-origin: center;
  transition: transform 1.5s cubic-bezier(0.22, 1, 0.36, 1);
}
.gallery__item:hover .zoom-image {
  transform: scale(1.06);
}

/* product extra desc */
.product-description ul {
  margin-bottom: 0;
}

.description_extra-not-listing {
  margin-top: 1rem;
}
.description_extra-not-listing p {
  margin-bottom: 0;
}

.product-title,
.product-block__title {
  text-transform: uppercase;
}

/* product collection */
.product-collection{
  margin-top: -50px;
}

.product-collection--items {
 display: flex;
 flex-wrap: wrap;
}
.product-collection--items a{
  border: 1px var(--input-border-color) solid;
  padding: .5rem 1rem;
  margin-right: .6rem;
  color: rgb(var(--body-text-color));
  margin-top: .5rem;
}
.product-collection--items a:hover{
  border-color: var(--input-border-color-hover);
}
/* related products in quickview */
.quickbuy-container .inner {
  padding-top: 10px;
  padding-bottom: 0;
}


#pagefooter {
  margin-top: 3rem;
}

.related-collection .complementary_product, .section-product-template-product-grid .complementary_product,  .section-main-collection .complementary_product{
  display: none;
}

/* slideshow on collection page */
@media (min-width: 768px) {
  .slideshow__slide ~ .page-header {
    width: 100%;
  }
  
  .slideshow__slide ~ .page-header .text-overlay__reveal {
    display: flex;
    justify-content: center;
  }
  .slideshow-collection {
    pointer-events: unset !important;
  }
}
@media (max-width: 767.98px){
  .slideshow__slide ~ .page-header {
    display: none;
  }
}

/* capital H2 */
h2 {
  text-transform: uppercase !important;
}

.product-block.expanded .block-inner:after{
  content: none;
}

/* quickview */
.quickview-media .main-image .slider__grid .slider__item {
  margin-bottom: .5rem;
  
}

.no-thumbnails .main-image ~ carousel-slider, .no-thumbnails .main-image .slider-nav{
  display: none;
}
.no-thumbnails .main-image carousel-slider {
  overflow: unset;
}
.no-thumbnails .main-image .slider__grid {
  flex-wrap: wrap;
  justify-content: space-between;
}
.no-thumbnails .main-image .slider__item {
  flex: 0 0 49.3%;
}

.no-thumbnails .main-image .slider__item:nth-child(n+7){
  display: none;
}


.quick-view-media-gallery--layout-columns-2.no-thumbnails .main-image .slider__item:first-child {
  flex: 1 0 100%;
}

/* notify */
.klaviyo-bis-trigger{
  width: 100%;
}

.klaviyo-enable .form__product--sold-out {
  display: none;
}



