<style>
  .topbar {
    display: flex;
    flex-flow: row;
    align-items: center;
  }
  
  .Language-switch-selector {
        cursor: pointer;
    opacity: .7;
  }
  
  .Language-switch-selector:hover {
        opacity: 1;
   }

  .top-bar-country-flag > img {
    width: 24px;
    margin-right: 4px;
  }
</style>
<div class="topbar block shrink-0">
  <span class="top-bar-country-flag">
  </span>
  <div class="Language-switch-selector bold text-sm" onclick="showLangSwitcherModal()"></div>
</div>

<script>
     var countryRedirect = document.querySelector('.js-country-redirect');
     function deleteCookie(name) {
       document.cookie = name + '=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;';
     }

document.addEventListener("DOMContentLoaded", (event) => {
    
  var requestPath2 = '{{ request.path }}';
  var doesRequestPathContainALanguageAlready2 = requestPath2[3] === '-';
  const select = document.getElementById("lang-switcher-dropdown");
  
  document.querySelectorAll('.Language-switch-selector').forEach(function (selector) {
    var selectedLanguageName;
    if (doesRequestPathContainALanguageAlready2 === false) {
      selectedLanguageName = localStorage.getItem("defaultLanguage");
      selector.innerHTML = selectedLanguageName;
    } else {
      selectedLanguageName = localStorage.getItem("selectedLanguageName");
      selector.innerHTML = selectedLanguageName;
      if (selectedLanguageName == null) {
        const selectedOption = select.options[select.selectedIndex];
        selectedLanguageName = selectedOption.innerHTML;
        selector.innerHTML = selectedLanguageName;
      }
    }
  });

});
</script>