
{%- if product.handle != blank -%}
  <button
    type="button"
    aria-label="Add to wishlist"
    class="btn-wishlist mobile-touch-area"
    button-wishlist
    data-product-handle="{{ product.handle }}">
    <div class="circle-button circle-button--fill ring">
      {%- render 'icon' with 'wishlist' -%}
    </div>

  </button>

{%- endif -%}